<h1>Send Mail to Candidate:</h1>

<form id="form">
    <div class="mb-3">
        <label class="form-label" for="from_name">From Name:</label>
        <input type="text" class="form-control" name="from_name" id="from_name">
    </div>
    <div class="mb-3">
        <label class="form-label" for="to_name">To Name:</label>
        <input type="text" class="form-control" name="to_name" id="to_name">
    </div>
    <div class="mb-3">
        <label class="form-label" for="message">Message</label>
        <input type="text" class="form-control" name="message" id="message">
    </div>

    <input type="submit" class="btn btn-primary" id="button" value="Send Email">
</form>

<script type="text/javascript"
        src="@Html.Raw(("https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"))"></script>

<script type="text/javascript">
    emailjs.init('iGqL9oRfpFTwjxrhZ')
</script>

<script>
    const btn = document.getElementById('button');

    document.getElementById('form')
        .addEventListener('submit', function (event) {
            event.preventDefault();

            btn.value = 'Sending...';

            const serviceID = 'default_service';
            const templateID = 'template_5s5dxrd';

            emailjs.sendForm(serviceID, templateID, this)
                .then(() => {
                    btn.value = 'Send Email';
                    alert('Sent!');
                }, (err) => {
                    btn.value = 'Send Email';
                    alert(JSON.stringify(err));
                });
        });

</script>