html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background: #eee !important;
}

span {
    font-size: 15px;
}


.box {
    padding: 20px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 15px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer;
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}