@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<Swarojgaar.ViewModel.JobVM.GetAllJobsVM>

@{
    ViewData["Title"] = "GetAll";
}

<h1 style="margin-left: 12px">List of Jobs</h1>
@if (TempData["ResultOk"] != null)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["ResultOk"]');
    </script>
}
<p>
    <a asp-action="Create" style="margin-left: 12px" class="btn btn-success"><i class="bi bi-file-plus-fill"></i>Add New Job</a>
</p>


<div class="box">
    <div class="container">
        <div class="row" id="jobItemsContainer">
            @await Html.PartialAsync("_JobItemPartial", Model)
            <div style="margin-left: 12px">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                    ContainerDivClasses = new string[] { "pagination" }
                })
            </div>
        </div>
    </div>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        console.log('Script started!');

        $(document).on('click', '#jobItemsContainer .pagination a', function (e) {
            e.preventDefault();
            console.log('AJAX invoked!');
            var url = $(this).attr('href');
            $.get(url, function (response) {
                $('#jobItemsContainer').html(response);
            })
                .fail(function (xhr, status, error) {
                    console.error('AJAX failed:', status, error);
                    console.log('Response:', xhr.responseText);
                });
        });
    });
</script>
